apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: go
  labels:
    app: go
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go
  template:
    metadata:
      labels:
        app: go
    spec:
      containers:
      - name: go
        image: go
        imagePullPolicy: Always
        ports:
        - containerPort: 4000
